html, body {
  height: 100%;
}

.container-fluid {
  padding-top: 7px;
  background-color: #2b2b2b;
}

.title {
  font-family: Agate;
  font-size: 40px;
  color: #B67010;
  text-shadow: 2px 2px 10px;
  cursor: pointer;
}

.title:hover {
  opacity: 0.8;
}

.btn {
  width: 150px;
  color: #2b2b2b;
  font-weight: bold;
}

.xml-textarea {
  background-color: #3c3f41;
  color: #bababa;
}

.copyright {
  color: #B67010;
}

.license {
  color: #B67010;
  font-size: 0.8rem;
}

.mit {
  text-decoration: underline;
  cursor: pointer;
}

.mit:hover {
  opacity: 0.8;
}
